<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Recuperação de Senha</h2>
        <p>Olá,</p>
        <p>Recebemos uma solicitação para recuperar sua senha. Se não foi você que solicitou, ignore este e-mail.</p>
        <p>Para redefinir sua senha, utilize a senha temporária fornecida abaixo:</p>

        <h4>{{newPassword}}</h4>

        <p>Obrigado.</p>

        <div>
            <p>Se você tiver alguma dúvida, entre em contato com nossa equipe de suporte.</p>
        </div>
    </div>
</body>
</html>